html{
    font-size: 14px;
}

h3{
    color: #00BFFF;
}

.st-emotion-cache-13k62yr {
    position: absolute;
    background: rgb(14, 17, 23);
    color: rgb(250, 250, 250);
    inset: 0px;
    color-scheme: dark;
    overflow: hidden;
}

.st-emotion-cache-13k62yr {
       text-align: center;
}

.st-emotion-cache-10trblm {
    position: relative;
    flex: 1 1 0%;
    margin-left: calc(3rem);
    text-align: center;
}

.stDeployButton{
    display: none;
}

.stAlert:hover {
    background-color: #404c5a;
}

.st-emotion-cache-1j6rxz7.e1eexb540:hover {
    color: #f9f9f9;
}

.st-emotion-cache-z5fcl4 {
    width: 100%;
    padding: 6rem 1rem 10rem;
    min-width: auto;
    max-width: initial;
    background-image: url('logo.png')
}

/* oculta o iconode de fork do github */
.st-emotion-cache-ch5dnh {
    /* display: inline-flex; */
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    border-radius: 0.5rem;
    margin: 0px 0.125rem;
    color: inherit;
    width: auto;
    user-select: none;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    font-size: 14px;
    line-height: 1;
    min-width: 2rem;
    min-height: 2rem;
    display: none;
}
