html{
    font-size: 14px;
}

h3{
    color: #00BFFF;
}

.st-emotion-cache-13k62yr {
    position: absolute;
    background: rgb(14, 17, 23);
    color: rgb(250, 250, 250);
    inset: 0px;
    color-scheme: dark;
    overflow: hidden;
}

.st-emotion-cache-13k62yr {
       text-align: center;
}

.st-emotion-cache-10trblm {
    position: relative;
    flex: 1 1 0%;
    margin-left: calc(3rem);
    text-align: center;
}

